In [1]:
students = [
    {
        "id": "100001",
        "student": "Ada Lovelace",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 91, 82, 71],
        "pets": [{"species": "horse", "age": 8}],
    },
    {
        "id": "100002",
        "student": "Thomas Bayes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [75, 73, 86, 100],
        "pets": [],
    },
    {
        "id": "100003",
        "student": "Marie Curie",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 89, 69, 65],
        "pets": [{"species": "cat", "age": 0}],
    },
    {
        "id": "100004",
        "student": "Grace Hopper",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [73, 66, 83, 92],
        "pets": [{"species": "dog", "age": 4}, {"species": "cat", "age": 4}],
    },
    {
        "id": "100005",
        "student": "Alan Turing",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [78, 98, 85, 65],
        "pets": [
            {"species": "horse", "age": 6},
            {"species": "horse", "age": 7},
            {"species": "dog", "age": 5},
        ],
    },
    {
        "id": "100006",
        "student": "Rosalind Franklin",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [76, 70, 96, 81],
        "pets": [],
    },
    {
        "id": "100007",
        "student": "Elizabeth Blackwell",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [69, 94, 89, 86],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100008",
        "student": "Rene Descartes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [87, 79, 90, 99],
        "pets": [{"species": "cat", "age": 10}, {"species": "cat", "age": 8}],
    },
    {
        "id": "100009",
        "student": "Ahmed Zewail",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [74, 99, 93, 89],
        "pets": [{"species": "cat", "age": 0}, {"species": "cat", "age": 0}],
    },
    {
        "id": "100010",
        "student": "Chien-Shiung Wu",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [82, 92, 91, 65],
        "pets": [{"species": "cat", "age": 8}],
    },
    {
        "id": "100011",
        "student": "William Sanford Nye",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [70, 92, 65, 99],
        "pets": [{"species": "cat", "age": 8}, {"species": "cat", "age": 5}],
    },
    {
        "id": "100012",
        "student": "Carl Sagan",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [100, 86, 91, 87],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100013",
        "student": "Jane Goodall",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [80, 70, 68, 98],
        "pets": [{"species": "horse", "age": 4}],
    },
    {
        "id": "100014",
        "student": "Richard Feynman",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [73, 99, 86, 98],
        "pets": [{"species": "dog", "age": 6}],
    },
]

### 1. How many students are there?

In [8]:
print(len(students))

14

### 2. How many students prefer light coffee? For each type of coffee roast?

In [9]:
light_coffee_preference = 0 

for student in students:
    if student['coffee_preference'] == 'light':
        light_coffee_preference += 1

print(light_coffee_preference)

3

### 3. How many types of each pet are there?

In [12]:
cats = 0
horses = 0 
dogs = 0 

for student in students:
    for pet in student['pets']:
        if pet['species'] == 'cat':
            cats += 1
        if pet['species'] == 'horse':
            horses += 1
        if pet['species'] == 'dog':
            dogs += 1
            
print(cats)
print(horses)
print(dogs)

11
4
3

### 4. How many grades does each student have? Do they all have the same number of grades?

In [15]:
student_counter = 1

for student in students:
    number_of_grades = 0
    print('Student number: ' + str(student_counter))
    for grade in student['grades']: 
        number_of_grades += 1
    print('This student has ' + str(number_of_grades) + ' grades listed.')
    student_counter +=1
    
#Yes, it appears that all students have 4 grades.

Student number: 1
This student has 4 grades listed.
Student number: 2
This student has 4 grades listed.
Student number: 3
This student has 4 grades listed.
Student number: 4
This student has 4 grades listed.
Student number: 5
This student has 4 grades listed.
Student number: 6
This student has 4 grades listed.
Student number: 7
This student has 4 grades listed.
Student number: 8
This student has 4 grades listed.
Student number: 9
This student has 4 grades listed.
Student number: 10
This student has 4 grades listed.
Student number: 11
This student has 4 grades listed.
Student number: 12
This student has 4 grades listed.
Student number: 13
This student has 4 grades listed.
Student number: 14
This student has 4 grades listed.

### 5. What is each student's grade average?

In [17]:
student_counter = 1

for student in students:
    number_of_grades = 0
    grade_sum = 0
    print('Student number: ' + str(student_counter))
    for grade in student['grades']: 
        number_of_grades += 1
        grade_sum += grade
    print('This student has ' + str(number_of_grades) + ' grades listed.')
    print("This student's average grade is " + str(grade_sum / number_of_grades) + ".")
    print('\n')
    
    student_counter +=1

Student number: 1
This student has 4 grades listed.
This student's average grade is 78.5.


Student number: 2
This student has 4 grades listed.
This student's average grade is 83.5.


Student number: 3
This student has 4 grades listed.
This student's average grade is 73.25.


Student number: 4
This student has 4 grades listed.
This student's average grade is 78.5.


Student number: 5
This student has 4 grades listed.
This student's average grade is 81.5.


Student number: 6
This student has 4 grades listed.
This student's average grade is 80.75.


Student number: 7
This student has 4 grades listed.
This student's average grade is 84.5.


Student number: 8
This student has 4 grades listed.
This student's average grade is 88.75.


Student number: 9
This student has 4 grades listed.
This student's average grade is 88.75.


Student number: 10
This student has 4 grades listed.
This student's average grade is 82.5.


Student number: 11
This student has 4 grades listed.
This student's average grade is 81.5.


Student number: 12
This student has 4 grades listed.
This student's average grade is 91.0.


Student number: 13
This student has 4 grades listed.
This student's average grade is 79.0.


Student number: 14
This student has 4 grades listed.
This student's average grade is 89.0.

### 6. How many pets does each student have?

In [31]:
student_counter = 1

for student in students:
    print('Student number ' + str(student_counter) + ' has ' + str(len(student['pets'])) + ' pet(s).')
    print('\n')
    student_counter += 1

Student number 1 has 1 pet(s).


Student number 2 has 0 pet(s).


Student number 3 has 1 pet(s).


Student number 4 has 2 pet(s).


Student number 5 has 3 pet(s).


Student number 6 has 0 pet(s).


Student number 7 has 1 pet(s).


Student number 8 has 2 pet(s).


Student number 9 has 2 pet(s).


Student number 10 has 1 pet(s).


Student number 11 has 2 pet(s).


Student number 12 has 1 pet(s).


Student number 13 has 1 pet(s).


Student number 14 has 1 pet(s).

### 7. How many students are in web development? data science?

In [33]:
web_development_counter = 0
data_science_counter = 0

for student in students:
    if student['course'] == 'web development':
        web_development_counter += 1
    elif student['course'] == 'data science':
        data_science_counter += 1
        
print("There are " + str(web_development_counter) + " web development students.")
print("There are " + str(data_science_counter) + " data science students.")

There are 7 web development students.
There are 7 data science students.

### 8. What is the average number of pets for students in web development?

In [37]:
pet_counter = 0
web_development_students = 0

for student in students:
    if student['course'] == 'web development':
        web_development_students += 1
        pet_counter += len(student['pets'])

print("The average number of pets per student in web development is " + str((pet_counter / web_development_students)))

9
The average number of pets per student in web development is 1.2857142857142858

### 9. What is the average pet age for students in data science?

In [44]:
pet_counter = 0
age_sum = 0

for student in students:
    if student['course'] == 'data science':
        pet_counter += len(student['pets'])
        for pet in student['pets']:
            age_sum += pet['age']

print("The average pet age for students in data science is " + str((age_sum / pet_counter)))

The average pet age for students in data science is 5.444444444444445

### 10. What is most frequent coffee preference for data science students?

### 11. What is the least frequent coffee preference for web development students?

### 12. What is the average grade for students with at least 2 pets?

### 13. How many students have 3 pets?

### 14. How many students have 3 pets?

### 15. What is the average grade for web development students? data science students?

### 16. What is the average grade range (i.e. highest grade - lowest grade) for dark coffee drinkers?

### 17. What is the average number of pets for medium coffee drinkers?

### 18. What is the most common type of pet for web development students?

### 19. What is the average name length?

### 20. What is the highest pet age for light coffee drinkers?